Source: kgsl
Section: non-free/kernel
Priority: optional
Maintainer: Kgsl Maintainers <kgsl.maintainers@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13), dh-sequence-dkms, cpio
Rules-Requires-Root: no
Standards-Version: 4.7.2
Homepage: https://github.com/qualcomm-linux/kgsl

Package: kgsl-dkms
Architecture: all
Depends: ${misc:Depends}
Description: TBC
