[Unit]
Description=Load msm_kgsl kernel module
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/kgsl-dkms/kgsl-load.sh

[Install]
WantedBy=multi-user.target
