#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

DEST_SRC=debian/kgsl-dkms/usr/src/kgsl-$(DEB_VERSION_UPSTREAM)

%:
	dh $@

override_dh_install:
	dh_install
	mkdir -p $(DEST_SRC)
	find . -path ./debian -prune -o -path ./.pc -prune -o -path ./.git -prune -o -path ./.github -prune -o -print0|cpio -0p $(DEST_SRC)/

	rm $(DEST_SRC)/README.md
	rm $(DEST_SRC)/LICENSE.txt
	rm $(DEST_SRC)/.gitignore

override_dh_auto_clean override_dh_auto_build override_dh_auto_test override_dh_auto_install:
